.seccion{
    width: 360px;
    height: 780px;
    border: 1px solid black;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

@import "vista1.scss";
@import "vista2.scss";
@import 'vista3.scss';
@import 'vista4.scss';
@import 'vista5.scss';
@import 'vista6.scss';
@import 'vista7.scss';
@import 'vista8.scss';
