
.seccion{
    width: 390px;
    height: 844px;
    border: 1px solid black;
}

.ocultar{
    display: none;
}

.submenu1
{
    margin: 10%;
    flex-direction: row;
    text-align: center;
}
.fondo{
    
}