
.seccion{
    width: 385px;
    height: 760px;
    border: 1px solid black;
}

.ocultar{
    display: none;
}

.fondo_usuario{
    width: 385px;
    height: 297px;
    background: rgb(155, 240, 236);
    border-radius: 0 0 190px 200px;
}
.linea_1{
    display: flex;
    justify-content: space-around;
}

.linea_1 p{
    list-style: none;
    margin: 50px;
}

.linea_2{
    margin-top: -50px; 
    margin-left: 50px;   
    display: flex;
    justify-content:left;
}

.linea_3{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.linea_3 p {
    list-style: none;
    padding: 10px;
    /*background: rebeccapurple;*/
}

.linea_4{
    margin-top: -30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.linea_4 p{
    padding: 8px;
    color: rgb(0, 0, 0);
    background: rgb(84, 214, 253);
    border-radius: 30px;
}

.parte_inferior{
    margin-top: 80px; 
    width: 325px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    row-gap: 10rem;
    justify-content: space-between;
    border-radius: 10px;
    border:1px solid black;

}

.boton_agendar{
    width: 150px;
}

.contenedores_login{
    display: flex;
    flex-direction: column;
    justify-content: left;
    background: red;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-content: center;
}

#usuario, #contraseña{
    width: 200px;
}