@import './colors.scss';
@import './fonts.scss';

#seccion_2{
    border: 1px solid blue;
    overflow: auto;
    display: block; 
    flex-direction: initial;
}

.header{
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    h2{
        font-family: 'Poppins-Lightbold';
        font-size: 23px;
        margin-left: 30px;
        color: rgb(13, 118, 122);
    }
    a{
        margin-right: 25px;
    }
}

.header h2,
.header img {
    display: inline;
}

.icono {
    display: inline-block; /* Hace que el contenedor se comporte como un bloque en línea */
    width: 60px; /* Ancho del contenedor */
    height: 60px; /* Altura del contenedor */
    overflow: hidden; /* Oculta cualquier parte del icono que sobresalga del contenedor */
    border-radius: 50%; /* Borde redondeado para hacer un círculo */
    border: 5px solid $primary;
}

/* Estilos para la imagen del icono */
.icono img {
    width: 100%; /* Ajusta la imagen al ancho del contenedor */
    height: auto; /* Mantiene la proporción de aspecto de la imagen */
    display: block; /* Permite alinear la imagen correctamente */
}

.mapa{
    margin-top: 10%;
    margin-left: 27.5px;
    height: 330px;
    width: 330px;
    background-image: url('../resources/mapa.png'); /* Ruta de la imagen */
    background-size: cover; /* Hace que la imagen cubra todo el div */
    background-position: center; /* Posiciona la imagen en el centro del div */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}

.titulo{
    text-align: center;
    font-family: 'Poppins-Lightbold';
    color: rgb(13, 118, 122);
}

.paseadores{
    height: 40%;
    width: 330px;
    margin-top: -20px;
    margin-left: 27.5px;
    overflow: auto;
}

.tarjeta {
    margin-top: 10%;
    margin-left: 5%;
    height: 100px;
    width: 95%;
    border-radius: 30px;
    background-color: $primary;
    display: flex; /* Utilizamos flexbox */
    align-items: center; /* Centramos verticalmente */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}

.foto {
    width: 70px;
    height: 70px;
    background-color: #969696;
    border-radius: 50%;
    margin-left: 20px;
    overflow: hidden; 
    display: flex; /* Permite centrar la imagen vertical y horizontalmente */
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
}

.foto img {
    max-width: 200%; /* Asegura que la imagen no sea más grande que el contenedor */
    max-height: auto; /* Asegura que la imagen no sea más grande que el contenedor */
}

.informacion {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    color: white;
    font-family: 'Poppins-SemiBold';
}

.nombre {
    font-size: 20px;
    margin-bottom: 5px;
}

.detalle {
    display: flex;
}

.calificacion{
    margin-left: 80px;
    margin-right: 14px;
}

.carrusel{
    height: 200px;
    width: 90%;
    margin-left: 7%;
    background-image: url("../resources/carrusel.png");
    background-size: cover; /* Hace que la imagen cubra todo el div */
    background-position: center; /* Posiciona la imagen en el centro del div */
    border-radius: 5px;
}

.footer{
    background-color: rgb(192, 209, 255);;
    height: 20%;
    display: flex; /* Usamos flexbox */
    justify-content: center; /* Alineamos horizontalmente */
    align-items: center; /* Alineamos verticalmente */
    flex-direction: column;
    p{
        font-family: 'Poppins-Light'; 
        margin-top: -8px;
    }
}

a {
    text-decoration: none;
}
