@import './colors.scss';

#seccion_2{
    border: 1px solid blue;
    overflow: auto;
    display: block; /* Cambiar de flex a bloque (o cualquier otro valor según tu necesidad) */
    flex-direction: initial;
}

.header{
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.header h2,
.header img {
    display: inline;
}

.saludo{
    margin-left: 13%;
    font-size: 200%;
}
.icono {
    display: inline-block; /* Hace que el contenedor se comporte como un bloque en línea */
    width: 50px; /* Ancho del contenedor */
    height: 50px; /* Altura del contenedor */
    overflow: hidden; /* Oculta cualquier parte del icono que sobresalga del contenedor */
    border-radius: 50%; /* Borde redondeado para hacer un círculo */
}

/* Estilos para la imagen del icono */
.icono img {
    width: 100%; /* Ajusta la imagen al ancho del contenedor */
    height: auto; /* Mantiene la proporción de aspecto de la imagen */
    display: block; /* Permite alinear la imagen correctamente */
}

.mapa{
    margin-top: 10%;
    margin-left: 27.5px;
    height: 330px;
    width: 330px;
    background-image: url('../resources/mapa.png'); /* Ruta de la imagen */
    background-size: cover; /* Hace que la imagen cubra todo el div */
    background-position: center; /* Posiciona la imagen en el centro del div */
    border-radius: 10px;
}

.titulo{
    text-align: center;
}

.paseadores{
    height: 40%;
    width: 330px;
    margin-left: 27.5px;
    overflow: auto;
}

.tarjeta {
    margin-top: 10%;
    margin-left: 5%;
    height: 100px;
    width: 95%;
    border-radius: 5px 5px 5px 5px;
    background-color: $primary;
    display: flex; /* Utilizamos flexbox */
    align-items: center; /* Centramos verticalmente */
}

.foto {
    width: 70px;
    height: 70px;
    background-color: #969696;
    border-radius: 50%;
    margin-left: 20px;
    overflow: hidden; 
    display: flex; /* Permite centrar la imagen vertical y horizontalmente */
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
}

.foto img {
    max-width: 200%; /* Asegura que la imagen no sea más grande que el contenedor */
    max-height: auto; /* Asegura que la imagen no sea más grande que el contenedor */
}

.informacion {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.nombre {
    font-size: 20px;
    margin-bottom: 5px;
}

.detalle {
    display: flex;
}

.calificacion{
    margin-left: 80px;
}

.carrusel{
    height: 200px;
    width: 90%;
    margin-left: 7%;
    background-image: url("../resources/carrusel.png");
    background-size: cover; /* Hace que la imagen cubra todo el div */
    background-position: center; /* Posiciona la imagen en el centro del div */
    border-radius: 5px;
    
}

.footer{
    background-color: $dark-gray;
    height: 20%;
    display: flex; /* Usamos flexbox */
    justify-content: center; /* Alineamos horizontalmente */
    align-items: center; /* Alineamos verticalmente */
}